<?xml version="1.0"?>
<model>
  <name>wafer</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Zeyad</name>
    <email>you@example.com</email>
  </author>

  <description>
    Silicon wafer model imported from Sketchfab https://sketchfab.com/3d-models/silicon-wafer-112a8d6eedee423596507a0ef8f780b2.
  </description>
</model>